.tittle-hoja{
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.tittle-infor{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(226, 11, 11);
    text-align: center;
    
}

.tittle-per{
    color: blueviolet;
    width: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tittle-exp{
    color: rgb(7, 52, 78);
    text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title-edu{
    color: rgb(29, 107, 10);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}